.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__logo{
        padding-right: 2rem;
        height: 10%;
        width: 10%;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-list{
            margin-left: 3.5rem;
            margin: 0 0.5rem;
            list-style: none;
        }
       
    }
    &__icon-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__icon{
            font-size: 1.6rem;
            margin: 0 0.5rem;
        }
    }
    
}
.green-ribbon{
    margin: 0;
    background-color: #9bf00b!important;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text{
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.7;
        font-weight: bold;
    }
    &__icon{
        text-align: center;
        font-size: 1.2rem;
    }
}