.section-offers {
  margin: 4.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  margin: 4.8rem;
}
.section-preorder {
  margin:5.6rem;
  background-image: url(/img/xbox-preorder.avif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  display: grid;
  grid-template-columns: minmax(0,2fr) 2fr;
  
  &__items{
    padding: 20rem 15rem;
    margin: 0 auto;
    // 

    &-btn{
      color: #fff!important;
      background-color: #0067b8;
      font-size: 1.6rem;
      padding: 1.6rem;
      font-weight: 600;
      margin-top: 2.4rem;
      border: none;
    }
    
  }
 
}
